# for config options, check out:
# https://www.kernel.org/pub/software/scm/git/docs/git-config.html
# https://www.kernel.org/pub/software/scm/git/docs/git-whatchanged.html
# https://www.kernel.org/pub/software/scm/git/docs/git-log.html
[user]
	name = Ethan Soergel
	email = esoergel@gmail.com
[alias]
	co = checkout
	br = branch
	st = status
	su = submodule update

	# ETHAN, add something for log --graph
	# LOG SHORTCUTS
	# show commits not on master
	lnm = log HEAD --not master
	
	# colors: normal, black, red, green, yellow, blue, magenta, cyan and white
	# attributes: bold, dim, ul, blink and reverse.

	# show log listing files changed
	ls = log --stat
	lsn = log --stat HEAD --not
	lsnm = log --stat HEAD --not master

	# from mwhite's gitconf:
	#show log with full diffs
	lpn = log -p HEAD --not  
	lpnm = log -p HEAD --not master

	# https://gist.github.com/mwhite/6887990
	# one-line log
	l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	# list aliases
	la = "!git config -l | grep alias | cut -c 7-"
[pretty]
	cute = "\
%n\
%C(magenta)%ad \
%C(blue)[%an] \
%C(green)%h \
%Cred%d \
%n\
%C(yellow)%s \
"
[format]
	pretty = cute
[log]
	# relative, local, default, raw, iso, rfc, short
	decorate = short
	date = short
[core]
	editor = vim
	excludesfile = /home/ethan/.gitignore
[push]
	default = nothing
[color]
	ui = true
[fetch]
	recurseSubmodules = on-demand
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
